# Derleme (Build) klasörleri
*build-*/
build/
bin/

# Qt Creator kullanıcı ayarları
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
CMakeLists.txt.user*

# Otomatik oluşturulan Qt dosyaları
Makefile*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db